body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between; 
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

#result {
    margin-top: 20px;
}

a.download-link {
    display: inline-block;
    margin: 5px 0;
    padding: 10px;
    background-color: #28a745; /* Green background for download links */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.download-link:hover {
    background-color: #218838; /* Darker green on hover */
}

.download-container {
    margin-top: 20px;
}

.thumbnail {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Description styles */
.description {
    margin-top: 30px; 
}

.description h2,
.description h3,
.description h4 {
    color: #333; 
}

.description p,
.description ul,
.description ol {
    line-height: 1.6; 
}

/* Progress Bar Styles */
#progressBarContainer {
    width: 100%;
    background-color: #e0e0e0; 
    border-radius: 5px; 
}

#progressBar {
    width: 0%;
    height: 5px; 
    background-color: #007bff; 
}

.hidden {
   display: none; 
}